        
        {{!-- <section class="notifications">
            <p class="notification-message">Message...</p>
        </section> --}}

{{#if errorMessage}}

<div class="msg error" style="background-color: rgb(255, 115, 0); text-align: center;">
  {{errorMessage}}
</div>
{{/if}}

{{#if successMessage}}
<div class="msg success" style="background-color: chartreuse; text-align: center;">
  {{successMessage}}
</div>
{{/if}}

<script>
  document.querySelectorAll('.msg').forEach(msg=>{
    setTimeout(()=>{
      msg.remove();
    }, 3000)
  })
</script>